<link rel="stylesheet" href="/css/homeStyle.css">


<div class="sub-body">
    
    <div id="home-container">

        <div id="add-post-container">
            <%- include('./layouts/_addPost'); %>
        </div>

        <div id="post-container">
            <h2 class="head">Timeline</h2>
            <ul id="post-list" class="post-list">

                <% for(let post of posts){ %>
                <li id="post-<%= post.id %>">
                    <div class="post">
                        <%- include('./layouts/_post', {post: post}); %>
                    </div>

                    
                    <div id="comment-section">
                        <%- include('./layouts/_comment', {post: post}); %>
                    </div>


                </li>


                <% } %>

            </ul>
            
        </div>

        <div id="chat-section">
            <%- include('./layouts/_chatSection'); %>

        </div>
        
        
    </div>
</div>


<script src="/scripts/homeScript.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
<script src="/scripts/chat_socket.js"></script>
<% if(locals.user){ %>
    <script>
        let user= '<%- JSON.stringify(user) %>'; 
        new ClientSocket("user-chat-box", "<%= user.email %>");
    </script>
<% } %>



        