<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layoutStyles.css">
        <%- style %>
        <script src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    </head>
    <body>
        <%- include('./layouts/_header'); %>

        <%- body %>

        <%- include('./layouts/_footer'); %>


        <%- script %>

        <script>
            <% if(locals.messages && messages.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    type: 'success',
                    layout: 'topRight',
                    text: '<%= messages.success %>',
                    timeout: 2000,
                    progressBar: true
                }).show();
            <% } %>

            <% if(locals.messages && messages.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    type: 'error',
                    layout: 'topRight',
                    text: '<%= messages.error %>',
                    timeout: 2000,
                    progressBar: true
                }).show();
            <% } %>

            <% if(locals.messages && messages.info.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    type: 'info',
                    layout: 'topRight',
                    text: '<%= messages.info %>',
                    timeout: 2000,
                    progressBar: true
                }).show();
            <% } %>
        </script>
            
    </body>
</html>