<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layoutStyles.css">
        <%- style %>
        <script src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('./layouts/_header'); %>

        <%- body %>

        <%- include('./layouts/_footer'); %>


        <%- script %>
    </body>
</html>